
@{
    ViewBag.Title = "Fifa World Cup 2018";
}

<h1>Football</h1>
<p><a href="http://www.sports.ru">Новости Чемпионата мира 2018</a></p>
<img src="http://news.liga.net/images/general/2018/06/14/thumbnail-tw-20180614160848-5539.jpg" />
