
@{
    ViewBag.Title = "Fifa World Cup 2018";
}

<h1>Football</h1>
<p><a href="http://www.sports.ru">Новости Чемпионата мира 2018</a></p>
<img src="https://lesite.pro/wp-content/uploads/2018/04/1515694136_678.jpg" />
@Html.ActionLink("Users", "Index", "CRUD")
