@model testtest.Models.AutorizationModel
@{
    ViewBag.Title = "Autorization";
}
<h1>Вход в систему</h1>
@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
    <p>Your login: @Html.TextBoxFor(m=>m.Login) </p>
    <p>Your password: @Html.TextBoxFor(m=>m.Password)</p>
    <p>
       
    </p>
    <input type="submit" value="Submit " />
    
}



